extends ../../layouts/default.pug 
include ../../mixins/show-alert.pug 
block main 
   if localRoles.permissions.includes("product_view")
    +showSucesAlert()
    +showErrorAlert()
    .container.mt-4
      h3 Bộ Lọc
      .btn-group
        each item in ListBtnFilter
          Button.btn.btn-outline-secondary(btn-filter-status=item.status class=item.class) #{item.name} 
      
      
      
      h3 Thay đổi nhiều sản phẩm
      .row
        .col-md-6
          form(action=`/admin/products/change-multi?_method=PATCH` method="POST", form-change-multi)
            .form-row.align-items-center
              .col-auto
                label.sr-only(for='selectOption') Select Option
                select#selectOption.form-control.mb-2(name='typeMulti')
                  option(value='') --- Lựa chọn thay đổi --- 
                  option(value='active-multi') Hoạt động 
                  option(value='inactive-multi') Không hoạt động 
                  option(value='change-position-multi') Thay đổi vị trí 
                  option(value="delete-multi") Xóa 
              // Search Input
              .col
                label.sr-only(for='searchInput') Search
                .input-group.mb-2
                  input#searchInput.form-control(type='text', placeholder='Search...' name='id').d-none
                  .input-group-append
                    button.btn.btn-primary(type='submit') Áp dụng 
        form(form-search)
          .col  
                label.sr-only(for='searchInput') Search
                .input-group.mb-2
                  input#searchInput.form-control(type='text', placeholder='Nhập thông tin tìm kiếm....' name='keyword')
                  .input-group-append
                    button(type='submit').btn.btn-outline-info Tìm kiếm       
         
              
    div(style='width: 100%; height: 2px; background-color: black;margin-top: 10px; margin-bottom: 15px;')
    .container.text-center
      .row
        .col
          Button.btn.btn-primary Thông báo 
        .col
          if localRoles.permissions.includes("product_create")
            a(href="/admin/products/create").btn.btn-warning + Thêm mới  
        .col
          a(href="/admin/products/garbage").btn.btn-primary.position-relative
            | Thùng rác
            span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger
              | #{countGarbage}
        .col 
          h6 Sắp xếp sản phẩm
          select#sortingSelect.selectpicker
            option(value='position-desc') Vị trí giảm dần 
            option(value='position-asc') vị trí tăng dần 
            option(value='title-asc') Tiêu đề A-Z 
            option(value='title-desc') Tiêu đề Z-A 
            option(value='price-asc') giá thấp -> cao
            option(value='price-desc') giá cao -> thấp 
            option(value='stock-asc') Sl Tồn kho cao -> thấp 
            option(value='stock-desc') Sl Tồn kho thấp -> cao  
            option(value='discount-asc') Giảm giá cao -> thấp 
            option(value='discount-desc') Giảm giá thấp -> cao  
          Button.btn.btn-danger(style="margin-left: 5px;" btn-clear) Clear 
        
      
    if product.length < 1 
      h1(style='color: red;').container Không có dữ liệu ! 
    else
      .container
        h2  Danh Sách sản phẩm 
      table.table.table-striped(change-multi)
        thead
          tr
            th 
              input(type="checkbox" name="checkall")
            th #
            th tiêu đề 
            th Giá tiền
            th % Giảm giá 
            th Sl tồn kho
            th Hình ảnh
            th Trạng thái
            th Được tạo bởi 
            th Vị trí 
            th Hành động
        tbody
          each item, index in product

            tr
              td
                input(type="checkbox" name="ids" value=item.id)
              td #{objectPagination.skip + index + 1}
              td #{item.title}
              td
                h6 #{item.price}
              td #{item.discountPercentage}
              td #{item.stock}
              td 
                img(src=item.thumbnail, alt="", style="width: 100px;")  
              if item.status == 'active'
                td 
                  Button.badge.rounded-pill.text-bg-success(style='background-color: green; color: white' btn-change-status=item.id) #{item.status}
              else
                td 
                  Button.badge.rounded-pill.text-bg-danger(style='background-color: red; color: white' btn-change-status=item.id) #{item.status}
              td 
                span #{item.createdByfullname}
                br
                span #{moment(item.createdAt).format('MMMM Do YYYY, h:mm:ss a') }
              td 
                input(type="number", style="width: 40px;", value=item.position, name='position') 
              td 
                .btn-group
                  if localRoles.permissions.includes("product_edit")
                    a(href=`/admin/products/edit/${item.id}`).btn.btn-danger Sửa
                  if localRoles.permissions.includes("product_delete")
                    a.btn.btn-warning(btn-sort-delete=item.id) Xóa 
                  a(href="/admin/products/detail/"+item.id).btn.btn-info Chi tiết
    div(style='width: 100%; height: 2px; background-color: black;margin-top: 10px; margin-bottom: 15px;')
    .container.mt-5
      nav(aria-label='Page navigation')
        ul.pagination(style='justify-content: center;')
          li.page-item(class=`${objectPagination.pageCurrent > 1 ? "": "disabled"}`)
            Button.page-link(href='#' btn-pagination=objectPagination.pageCurrent - 1) Previous
          - for(let i = 1; i <= objectPagination.total; i++)
            li.page-item
              Button.btn.btn-outline-info(btn-pagination=i class=`${objectPagination.pageCurrent == i ? "btn-danger" : ""}`) #{i}
          
          li.page-item(class=`${objectPagination.pageCurrent < objectPagination.total ? "": "disabled"}`)
            Button.page-link(btn-pagination = objectPagination.pageCurrent + 1) Next 
    form(action="" form-change-status data-path=`/admin/products/change-status` method="POST") 
    form(action="" form-soft-delete data-path=`/admin/products/soft-delete` method="POST") 

   else 
    h1 Không có quyèn truy cập 