extends ../../layouts/default.pug 

block main 
  if localRoles.permissions.includes("product-category_view")
    h1 Danh sách danh mục sản phẩm 
    .container 
        if localRoles.permissions.includes("product-category_create")
          a(href="/admin/product-category/create").btn.btn-secondary + Thêm mới 
        
        table.table.table-striped.table-hover
            thead
                tr 
                    th #
                    th Tiêu đề 
                    th Danh mục cha 
                    th Hình ảnh 
                    th Vị trí
                    th Trạng thái 
                    th Hành động 
            tbody
              each item, index in productCategory 
               tr
                td #{index + 1}
                td #{item.title}
                td #{item.parent_category}
                td 
                  img(src=item.thumbnail, alt="", style="width: 80px; height: 100px;")
                td
                  input(type="number" value=item.position)
                if item.status == 'active'
                  td 
                    Button.badge.rounded-pill.text-bg-success(style='background-color: green; color: white' btn-change-status=item.id) #{item.status}
                else
                  td 
                    Button.badge.rounded-pill.text-bg-danger(style='background-color: red; color: white' btn-change-status=item.id) #{item.status}
                  
                td 
                  if localRoles.permissions.includes("product-category_edit")
                    a(href="/admin/product-category/edit/"+item.id).btn.btn-warning Sửa 
                  if localRoles.permissions.includes("product-category_delete")
                    a(href="/admin/product-category/delete").btn.btn-danger Xóa 
                  if localRoles.permissions.includes("product-category_view")
                    a(href="/admin/product-category/detail/"+item.id).btn.btn-secondary Chi tiết  
  else 
    h1 Bạn không có quyền truy cập   