extends ../../layouts/default.pug 
include ../../mixins/show-alert.pug 
block main 
    
    .container
      +showSucesAlert()
      +showErrorAlert()
      h2 Phân quyền 
      Button.btn.btn-primary(btn-submit-permissions) Cập nhật  
      div(data-roles=roles)  
      table.table(table-permissions)
        thead
            tr
              th Nhóm quyền 
               each item in roles
                th #{item.title}
        tbody
          tr(data-name="id").d-none
            td Id nhóm quyền
            each item in roles
                td
                  input(type="text" value=item.id)
          tr 
            td(colspan="3")
                h5 Danh mục sản phẩm 
          tr(data-name="product-category_view")
            td Xem 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="product-category_create")
            td Thêm
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="product-category_edit" ) 
            td Chỉnh sửa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="product-category_delete")
            td Xóa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          //- products 
          tr 
            td(colspan="3")
                h5 Sản phẩm 
          tr(data-name="product_view")
            td Xem 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="product_create")
            td Thêm
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="product_edit" ) 
            td Chỉnh sửa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="product_delete")
            td Xóa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          //- Users 
          tr 
            td(colspan="3")
                h5 Người dùng 
          tr(data-name="user_view")
            td Xem 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="user_create")
            td Thêm
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="user_edit" ) 
            td Chỉnh sửa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="user_delete")
            td Xóa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          //- Hóa Đơn 
          tr 
            td(colspan="3")
                h5 Hóa Đơn
          tr(data-name="order_view")
            td Xem 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="order_create")
            td Thêm
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="order_edit" ) 
            td Chỉnh sửa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="order_delete")
            td Xóa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          //- roles
          tr 
            td(colspan="3")
                h5 Nhóm quyền 
          tr(data-name="roles_view")
            td Xem 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="roles_create")
            td Thêm
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="roles_edit" ) 
            td Chỉnh sửa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="roles_delete")
            td Xóa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="roles_permission")
            td Phân quyền 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          //- Tài khoản 
          tr 
            td(colspan="3")
                h5 Tài khoản  
          tr(data-name="account_view")
            td Xem 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="account_create")
            td Thêm
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="account_edit" ) 
            td Chỉnh sửa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="account_delete")
            td Xóa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          //- Tin tức 
          tr 
            td(colspan="3")
                h5 Tin tức  
          tr(data-name="news_view")
            td Xem 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="news_create")
            td Thêm
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="news_edit" ) 
            td Chỉnh sửa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="news_delete")
            td Xóa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          //- Cài đặt chung  
          tr 
            td(colspan="3")
                h5 Cài đặt chung  
          tr(data-name="general_view")
            td Xem 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="general_create")
            td Thêm
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="general_edit" ) 
            td Chỉnh sửa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          tr(data-name="general_delete")
            td Xóa 
            each item in roles
              td
                input(type='checkbox' value=item.id)
          

    form(action="/admin/roles/permissions?_method=PATCH" method="POST", form-change-permissions).d-none
      input(type="text" name='roles')