extends ../../layouts/default.pug 

block main 
    h1 Chi tiết sản phẩm 
    .container
      .row
        .col-xs-4.item-photo
          img(style='max-width:100%;', src=productDetail.thumbnail)
        .col-xs-5(style='border:0px solid gray')
          h1 #{productDetail.title}
          h2.title-price Giá tiền 
          h3(style='margin-top:0px;') USD:  #{productDetail.priceNew}
          p Giá cũ: #{productDetail.price}
          p Số Lượng: #{productDetail.stock}
          
          .section(style='padding-bottom:20px;')
            h6.title-attr
              small Số lượng
            div
              .btn-minus
                span.glyphicon.glyphicon-minus
              input(min="1" max=`${productDetail.stock}` type='number' value="1")
              .btn-plus
                span.glyphicon.glyphicon-plus
          // Botones de compra
          .section(style='padding-bottom:20px;')
            h4 Mô tả sản phẩm 
            p !{productDetail.description}
            button.btn.btn-success
              span.glyphicon.glyphicon-shopping-cart(style='margin-right:20px', aria-hidden='true')
              |  Thêm vào giỏ hàng 
            
        