extends ../../layouts/default.pug 
include ../../mixins/show-alert.pug 
block main 
  .container 
    +alertSuccess()
    +alertError()
    .card.mb-3(style='max-width: 1200px; margin-top: 20px')
      .row.g-0
        .col-md-6
          img.img-fluid.rounded-start(src=productDetail.thumbnail, alt='Product Thumbnail')
        .col-md-6
          .card-body
            h5.card-title #{productDetail.title}
            p.card-text
              | !{productDetail.description}
            form(action="/cart/add/"+productDetail.id method="POST")
              ul.list-group.list-group-flush
                li.list-group-item Giá mới:
                  strong #{productDetail.priceNew}  
                li.list-group-item Giá cũ: 
                  strong(style='text-decoration: line-through') #{productDetail.price}
                li.list-group-item Còn: 
                  strong #{productDetail.stock}
                li.list-group-item Số lượng 
                  input(type="number", name="quantity", value=1)
              button.btn.btn-success.mt-3(type='submit') Thêm vào giỏ hàng  
            
        