extends ../../layouts/default.pug 

block main 
    .container
      .row
        .col-md-3
          // Bộ lọc và thanh sắp xếp
          .filter
            h4 B&#x1ED9; l&#x1ECD;c
            form(action="/admin") 
              .form-group
                label Danh mục:
                if defaultCategory 
                  each item in productCategory
                    .form-check
                      input#category1.form-check-input(type='checkbox', value=item.slug , chb-category,checked=(item.id === defaultCategory.id ? true : false))
                      label.form-check-label(for='category1')
                        | #{item.title}
                else 
                  each item in productCategory
                    .form-check
                      input#category1.form-check-input(type='checkbox', value=item.slug , chb-category  )
                      label.form-check-label(for='category1')
                        | #{item.title} 
              h6 Chọn Giá 
            form(action="" method="POST" price-range)
                .form-group
                  label(for='price-from') Từ 
                  input#price-from.form-control(type='text' name='minPrice' value=objectRangePrice.minPrice)
                .form-group
                  label(for='price-to') Đến 
                  input#price-to.form-control(type='text' name='maxPrice' value=objectRangePrice.maxPrice)
                button.btn.btn-primary(type='button' ) Áp dụng 
            hr
        .col-md-9
          h4 Sắp xếp theo: 
          .btn-group.btn-group-toggle(data-toggle='buttons')
            each item in listButtonSorted
              button.btn.btn-outline-info(btn-sorting=item.name class=item.class) #{item.value}

          // Danh sách sản phẩm
          .product-list
            .row
              each item in product
                .col-md-3
                 a(href="/products/detail/"+item.slug style='text-decoration: none; color: black  ') 
                  .product-item
                    img.product-image(src=item.thumbnail, alt='Product' style='width: 211px; height: 200px;')
                    h5.product-title #{item.title}
                    p Đã bán: #{item.sold} 
                    p Giá tiền: #{item.newPrice}
        
    nav(aria-label='Page navigation example')
      ul.pagination.justify-content-center
        li.page-item(class=(objectPagination.currentPages === 1 ? "disabled": ""))
          a.page-link(href='#', tabindex='-1', aria-disabled='true',btn-pagination=objectPagination.currentPages - 1) Previous
        - for (let i = 1; i <= objectPagination.listPages; i++)
          li.page-item(class=(objectPagination.currentPages === i ? "active" : ""))
            a.page-link(href='#' btn-pagination=i) #{i}
        li.page-item(class=(objectPagination.currentPages === objectPagination.listPages ? "disabled": ""))
          a.page-link(href='#' btn-pagination=objectPagination.currentPages + 1) Next