extends ../../layouts/default.pug 

block main 
    .container.mt-5
      .row.justify-content-center
        .col-md-6 
          h3 Sắp xếp theo 
          .btn-group(role='group', aria-label='Basic mixed styles example')
            button.btn.btn-outline-warning(type='button' btn-sorted="price-desc") Cao Đến thấp 
            button.btn.btn-outline-warning(type='button' btn-sorted="price-asc") Thấp đến cao 
            button.btn.btn-outline-warning(type='button' btn-sorted="discountPercentage-desc") Giảm giá nhiều nhất
            button.btn.btn-outline-warning(type='button' btn-sorted="view-desc") Xem nhiều nhất 
    .container.mt-5 
      .row.justify-content-center
        .col-md-6 
          h2 Tìm kiếm 
          form.form-inline
            .input-group
              input.form-control(type='text', placeholder='Search', aria-label='Search', aria-describedby='search-btn', name='keyword')
              .input-group-append
                button#search-btn.btn.btn-outline-secondary(type='button') Tìm kiếm 
      .container(style='margin-top: 30px')
        .row
        each item in product  
          .col-md-4
            .card.product-card.mb-4
              img.card-img-top.product-img(src=item.thumbnail, alt='Product Image' style='height: 350px')
              .card-body
                a(href="/products/detail/"+item.slug).card-title #{item.title}
                p.card-text Price: $#{item.priceNew}
                p.card-text Old Price: $#{item.price}
                a.btn.btn-primary(href='#') Add to Category
    if pagination 
      if pagination.currentPage === 1
          .container
              .btn-view-more
                  a.btn.btn-secondary(btn-see-more) Xem th&ecirc;m 
      else 
          .container 
            .btn-view-more
              ul.pagination
                  li.page-item
                    if pagination.currentPage > 1
                      a.page-link(href='#' btn-pagination=pagination.currentPage -1 ) <--
                  - for(let i = 1; i <= pagination.total; i++)
                      li.page-item
                          a.btn(href='#' class=`${pagination.currentPage == i ? "btn-primary": ""}` btn-pagination=i) #{i}
                    
                  li.page-item
                    if pagination.currentPage < pagination.total
                      a.page-link(href='#' btn-pagination=pagination.currentPage + 1) -->
