extends ../../layouts/default.pug 
block main 
    
    
    .container 
        h2 Hiện đang có ... trong giỏ hàng 
        table.table 
          thead
            tr 
              th 
                input(type="checkbox", name="checkall")
              th STT
              th Ảnh 
              th Tên 
              th Giá 
              th Số lượng 
              th Tổng tiền 
              th Hành động 
          tbody
           if cart.products.length > 0 
            each item, index in cart.products
              tr 
                td 
                  input(type="checkbox", name="ids")
                td #{index + 1}
                td 
                  img(src=item.inforProducts.thumbnail, alt="", style='width: 50px; height: 50px')
                td 
                  a(href="" style='text-decoration: none')  #{item.inforProducts.title}
                td #{item.inforProducts.priceNew}
                td #{item.quantity}
                td #{item.sum}
                td 
                  button.btn.btn-danger
                    i.fa-solid.fa-trash
           else 
              tr 
                td(colspan='8')
                 h3.text-center Không có sản phẩm nào hết 
        h3 Tổng tiền: 0 
        button.btn.btn-success Thanh Toán 